<a href="https://colab.research.google.com/github/Mohit-Mithra/ceiling-graph/blob/main/random_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
u_nodes = np.random.randint(1,500000,100000).reshape(100000,1)
v_nodes = np.random.randint(1,500000,100000).reshape(100000,1)
timesteps = np.random.randint(1,100000,100000).reshape(100000,1)
timesteps = np.sort(timesteps).reshape(100000,1)
feat_type = np.ones(100000).reshape(100000,1)
state_features = np.zeros(100000).reshape(100000,1)

(100000,)

In [ ]:
data = np.concatenate((u_nodes,v_nodes,timesteps,feat_type,state_features),axis = 1)
df = pd.DataFrame(data)

In [ ]:
df

              0         1        2    3    4
0       85934.0  457773.0  98159.0  1.0  0.0
1      408766.0   52699.0  42392.0  1.0  0.0
2      217673.0  491963.0  72755.0  1.0  0.0
3      314512.0  269129.0  13855.0  1.0  0.0
4      336536.0  137078.0  99479.0  1.0  0.0
...         ...       ...      ...  ...  ...
99995  448810.0  491638.0  30329.0  1.0  0.0
99996  211041.0  165456.0  11068.0  1.0  0.0
99997   59943.0  469820.0  33803.0  1.0  0.0
99998  174189.0  198380.0  85163.0  1.0  0.0
99999  469338.0   18591.0  33093.0  1.0  0.0

[100000 rows x 5 columns]

In [ ]:
columns = ['user_id', 'item_id', 'timestamp', 'state_label', 'comma_separated_list_of_features'] 
df.to_csv("random.csv", header=columns, index=False)  #Save it as datasetname.csv