<a href="https://colab.research.google.com/github/Mohit-Mithra/ceiling-graph/blob/main/KG_manipulation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
%cd "/content/drive/MyDrive/ceiling-graphs/TGN_ablation/Knowledge Graph/knowledge graph"

/content/drive/MyDrive/ceiling-graphs/TGN_ablation/Knowledge Graph/knowledge graph

In [ ]:
!ls

1995.csv  1996.csv  1997.csv  1998.csv	1999.csv

In [ ]:
import pandas as pd
import numpy as np
import os

# Appending datasets

In [ ]:
df = pd.read_csv('1995.csv')
for i in os.listdir("/content/drive/MyDrive/ceiling-graphs/TGN_ablation/Knowledge Graph/knowledge graph"):
  if (i == '1995.csv'):
    continue
  data = pd.read_csv(i)
  df = pd.concat([df,data])

df.head()

   Event ID  Event Date  ... Latitude Longitude
0    926685  01-01-1995  ...  55.7522   37.6156
1    926687  01-01-1995  ...  44.0000   18.0000
2    926686  01-01-1995  ...  44.0000   18.0000
3    926688  01-01-1995  ...  49.2501  -84.4998
4    926689  01-01-1995  ...  45.5088  -73.5878

[5 rows x 20 columns]

In [ ]:
df

        Event ID  Event Date  ...  Latitude  Longitude
0         926685  01-01-1995  ...  55.75220   37.61560
1         926687  01-01-1995  ...  44.00000   18.00000
2         926686  01-01-1995  ...  44.00000   18.00000
3         926688  01-01-1995  ...  49.25010  -84.49980
4         926689  01-01-1995  ...  45.50880  -73.58780
...          ...         ...  ...       ...        ...
545097   2546469  31-12-1999  ...   5.30966   -4.01266
545098   2546470  31-12-1999  ...   5.30966   -4.01266
545099   2546471  31-12-1999  ...  -3.23846  130.14500
545100   2546472  31-12-1999  ...  -3.23846  130.14500
545101   2546473  31-12-1999  ...  52.52440   13.41050

[1551424 rows x 20 columns]

In [ ]:
unique_val_sources = df['Source Name'].unique()

In [ ]:
len(unique_val_sources)

28832

In [ ]:
unique_val_targets = df['Target Name'].unique()

In [ ]:
len(unique_val_targets)

27316

In [ ]:
total = list(unique_val_sources) + list(unique_val_targets)
len(total)

56148

In [ ]:
total_unique = pd.unique(total).tolist()
len(total_unique)

33942

In [ ]:
df.columns

Index(['Event ID', 'Event Date', 'Source Name', 'Source Sectors',
       'Source Country', 'Event Text', 'CAMEO Code', 'Intensity',
       'Target Name', 'Target Sectors', 'Target Country', 'Story ID',
       'Sentence Number', 'Publisher', 'City', 'District', 'Province',
       'Country', 'Latitude', 'Longitude'],
      dtype='object')

In [ ]:
df = df.fillna(0)
df.to_csv('data_full.csv')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1551424 entries, 0 to 545101
Data columns (total 20 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   Event ID         1551424 non-null  int64
 1   Event Date       1551424 non-null  object
 2   Source Name      1551424 non-null  object
 3   Source Sectors   1551424 non-null  object
 4   Source Country   1551424 non-null  object
 5   Event Text       1551424 non-null  object
 6   CAMEO Code       1551424 non-null  int64
 7   Intensity        1551424 non-null  float64
 8   Target Name      1551424 non-null  object
 9   Target Sectors   1551424 non-null  object
 10  Target Country   1551424 non-null  object
 11  Story ID         1551424 non-null  int64
 12  Sentence Number  1551424 non-null  int64
 13  Publisher        1551424 non-null  object
 14  City             1551424 non-null  object
 15  District         1551424 non-null  object
 16  Province         1551424 non-null  object
 17  Country          1551424 non-null  object
 18  Latitude         1551424 non-null  float64
 19  Longitude        1551424 non-null  float64
dtypes: float64(3), int64(4), object(13)
memory usage: 248.6+ MB

In [ ]:
data_chosen = df[['Event Date','Source Name', 'Intensity','Target Name','Source Country','Target Country','Country','CAMEO Code','Source Sectors','Target Sectors']]

In [ ]:
data_chosen

        Event Date  ...                                     Target Sectors
0       01-01-1995  ...        Elite,Executive,Executive Office,Government
1       01-01-1995  ...      General Population / Civilian / Social,Social
2       01-01-1995  ...                                         Government
3       01-01-1995  ...                         Government,Local,Municipal
4       01-01-1995  ...                                  Government,Police
...            ...  ...                                                ...
545097  31-12-1999  ...                                            Parties
545098  31-12-1999  ...  Nongovernmental Organizations / Activists,Nong...
545099  31-12-1999  ...  National Religious,Christian,Social,Internatio...
545100  31-12-1999  ...  National Religious,Social,International Religi...
545101  31-12-1999  ...      General Population / Civilian / Social,Social

[1551424 rows x 10 columns]

In [ ]:
data_chosen.to_csv('data_chosen.csv')

# Create graph style dataset

In [ ]:
source_node = []
target_node = []
for i in data_chosen['Source Name']:
  index_source = total_unique.index(i)
  source_node.append(index_source)

print(source_node)
print(len(source_node))

In [ ]:
len(source_node)

1551424

In [ ]:
for i in data_chosen['Target Name']:
  index_target = total_unique.index(i)
  target_node.append(index_target)

print(len(target_node))

1551424

In [ ]:
feature = np.array(data_chosen[['Intensity','Latitude','Longitude']])
feature.shape

(1551424, 3)

In [ ]:
timestep = [x for x in range(1551424)]

In [ ]:
features = []
for i in feature:
  features.append(i)

len(features)

1551424

In [ ]:
data = np.array(timestep)
columns = [np.array(source_node),np.array(target_node),np.array(features)]
for j in range(len(columns)):
  data = np.column_stack((data,columns[j]))

print(data.shape)

(1551424, 6)

In [ ]:
print(data[0])

[ 0.      0.     72.      3.4    55.7522 37.6156]

In [ ]:
data_graph = pd.DataFrame(data = data)
data_graph.head()

     0    1      2    3        4        5
0  0.0  0.0   72.0  3.4  55.7522  37.6156
1  1.0  1.0    2.0  4.0  44.0000  18.0000
2  2.0  2.0    1.0  4.0  44.0000  18.0000
3  3.0  3.0  455.0  3.4  49.2501 -84.4998
4  4.0  4.0   36.0 -5.0  45.5088 -73.5878

In [ ]:
data_graph.to_csv('data_graph.csv',header = ['Timestep','Source','Target','Intensity','Latitude','Longitude'] )